/* Estilos para la barra de navegación */
.navbar {
    background-color: #4CAF50;
    padding: 10px 0;
}

/* Estilos para la lista de elementos de navegación */
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Estilos para los elementos individuales de navegación */
.nav-item {
    margin: 0 10px;
}

/* Estilos para los enlaces de navegación */
.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    background-color: #388E3C;
    transform: scale(1.1);
}
